@charset "utf-8";

* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 1.4em;
	background: #f9f9f9;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Meiryo, sans-serif;
}

table {
	border-collapse: collapse;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

header,
#main,
.main {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 24px;
	background: #fff;
}

